{% extends "main.html" %}
{% block "content" %}
<h1>Team Leaderboard</h1>
<a href="{% url 'add_team' %}">Add team</a>
<table>
    <tr>
        <th>Team name</th>
        <th>Time gained</th>
        <th>links</th>
    </tr>
    {% for team in teams %}
    <tr>
        <td><h2>{{ team }}</h2></td> 
        <td>{{ team.total_time_limited }}</td>
        <td><a href="{% url 'team_detail' team %}">show</a> <a href="{% url 'edit_team' team %}">edit</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}