{% extends "main.html" %}
{% block "content" %}
{% if log_list %}
<table>
    <tr>
        <th>Name</th>
        <th>Start time</th>
        <th>End time</th>
    </tr>
    {% for log in log_list %}
    <tr>
        <td><a href="{% url 'user' log.user.card_id %}">{{log.user.first_name}}</a></td>                
        <td>{{log.start_time}}</td>
        <td>{{log.end_time}}</td>
        <td>
            <form action="{% url 'user_logs' request_card_id=log.user.card_id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="endLogId" value="{{ log.id }}">
                <input type="submit" class="btn" value="Delete log" name="deleteLog">
                {% if log.end_time == None %}
                <input type="submit" class="btn" value="End log" name="endLog">
                {% endif %}
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>no logs available</p>
{% endif %}
{% endblock %}