{% extends "main.html" %}
{% block "title" %}
Logs today
{% endblock %}

{% block "content" %}
{% if previous_day %}
<a href="{% url 'day' previous_day %}">previous day</a>
{% endif %}
{% if next_day %}
<a href="{% url 'day' next_day %}">next day</a>
{% endif %}

{% if request.user.is_authenticated %}
<form action="{% url 'day' day=today %}" method="post" onsubmit="return confirm('do you really want to do this? \nThis will invalidate all timelogs that are not yet checked out')">
    {% csrf_token %}
    <input type="submit" class="btn" value="End current day" name="endToday">
    <input type="submit" class="btn" value="End all days" name="endAll">
</form>
{% endif %}

{% load render_table from django_tables2 %}
{% render_table table %}

{% if searchResult %}
<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Card id</th>
        <th>Class</th>
    </tr>
    {% for user in searchResult %}
    <tr>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.card_id}}</td>
        <td>{{user.class_field}}</td>
        <td> 
            <form action="{% url 'day' day=today %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="addLogId" value="{{user.card_id}}">
                <input type="submit" class="btn" value="Add log" name="addLog">
            </form>            
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<form action="{% url 'day' day=today %}" method="post">
    {% csrf_token %}
    <input type="text" name="searchName">
    <input type="submit" class="btn" value="Search User" name="searchUser">
</form>

{% endblock %}