{% if previous_day %}
<a href="{% url 'day' previous_day %}">previous day</a>
{% endif %}
{% if next_day %}
<a href="{% url 'day' next_day %}">next day</a>
{% endif %}

<form action="#" method="post" onsubmit="return confirm('do you really want to do this? \nThis will invalidate all timelogs that are not yet checked out')">
    {% csrf_token %}
    <input type="submit" class="btn" value="End current day" name="endToday">
    <input type="submit" class="btn" value="End all days" name="endAll">
</form>

{% load render_table from django_tables2 %}
{% render_table table %}